<!-- This version is to support the new approach to req.logout via POST rather than GET. -->
<%- include('partials/footer') %>

<%- include('partials/header') %>
<div class="jumbotron text-center">
  <div class="container secrets">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <%usersWithSecrets.forEach(function (user) {%>
      <p class="secret-text"><%=user.secret%></p>
    <%})%>

    
    <hr />
    <div class="btn-forms">
      <form class="logout-btn" action="/logout" method="post">
        <button class="btn btn-light btn-lg" type="submit">Log Out</button>
      </form>
      <form class="submit-secret-btn" action="/submit" method="get">
        <button class="btn btn-dark btn-lg" type="submit">Submit a secret</button>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
